# Data 612- Project1

# #Author : Santosh Manjrekar
Date : 6/7/2019

### Briefly describe the recommender system that youâ€™re going to build out from a business perspective. I have watched the videos mentioned in the project description and will use similar movie rating data in below exercise.

I am building the movie recommender system which will predict the movie rating for the users

### DataSet

I am going to take 6 users (adam,John,David, Josh, Nathan, Jacob) and movies - (Avengers:EndGame, Aladdin, Captain Marvel,Toy Story4, Dumbo)..User can rate movies on scale of 1 to 5. I will be loading data in python dataframe

### Load your data into (for example) an R or pandas dataframe

In [44]:
import pandas as pd
import numpy as np

In [20]:
ratings = [ (5, 'UN', 4 ,'UN',4 ) ,
            (4, 3, 5 , 3, 4 ) ,
            (4, 2, 'UN' ,'UN' ,3 ) ,
            (2, 2, 3 ,1,2 ) ,
            (4, 'UN' , 5 ,4,5 ) ,
            (4, 2 , 5 ,4,4 ) 
              
          ]
 
# Create DataFrame object from a list of tuples
df_ratings = pd.DataFrame(ratings, columns = ['Avengers' , 'Alladin', 'Captain Marvel' , 'Toy Story', 'Dumbo'], 
                          index=['Adam', 'John', 'David' , 'Josh' , 'Nathan' , 'Jacob'])

In [21]:
print(df_ratings)

        Avengers Alladin Captain Marvel Toy Story  Dumbo
Adam           5      UN              4        UN      4
John           4       3              5         3      4
David          4       2             UN        UN      3
Josh           2       2              3         1      2
Nathan         4      UN              5         4      5
Jacob          4       2              5         4      4

In [22]:
#Lets mak the UN or unknown values with the red color
def color_red(val):
    color = 'red' if val == "UN" else 'black'
    return 'color: %s' % color
 
df_ratings.style.applymap(color_red)

### Break your ratings into separate training and test datasets.

Let's mark following few ratings as test data and then we will use remaining data as training data

David's rating for avenger :4

Josh's rating for Alladin :2

Nathan's rating for Captain Marvel : 5

Jon's Toy Story rating :3

Jacob's rating for Dumbo :4

For now I will mark then as testing or tst data, Let's create new dataframe which shows test and UNKNOWN data

In [28]:
ratings_train = [ (5, 'UN', 4 ,'UN',4 ) ,
            (4, 3, 5 , 'TST', 4 ) ,
            ('TST', 2, 'UN' ,'UN' ,3 ) ,
            (2, 'TST', 3 ,1,2 ) ,
            (4, 'UN' , 'TST' ,4,5 ) ,
            (4, 2 , 5 ,4,'TST' ) 
              
          ]
 
# Create DataFrame object from a list of tuples
df_train = pd.DataFrame(ratings_train, columns = ['Avengers' , 'Alladin', 'Captain Marvel' , 'Toy Story', 'Dumbo'], 
                          index=['Adam', 'John', 'David' , 'Josh' , 'Nathan' , 'Jacob'])

In [31]:
df_train

       Avengers Alladin Captain Marvel Toy Story Dumbo
Adam          5      UN              4        UN     4
John          4       3              5       TST     4
David       TST       2             UN        UN     3
Josh          2     TST              3         1     2
Nathan        4      UN            TST         4     5
Jacob         4       2              5         4   TST

### Calculate the  raw average mean for training data

In [61]:
#Calculate the  raw average mean for training data
raw_avg_mean_train = ((5+4+2+4+4)+(3+2+2)+(4+5+3+5)+(1+4+4)+(4+4+3+2+5))/20
print("Raw avg mean for training set is "+ str(raw_avg_mean_train))

Raw avg mean for training set is 3.5

raw average for each user=item combination is 3.5

### Calculate the RMSE for raw average for both your training data and your test data.

In [ ]:
Let's calculate RMSE for for test data (4,2,5,3,4) and training data (5,4,2,4,4,3,2,2,4,5,3,5,1,4,4,4,4,3,2,5)

In [45]:
from math import sqrt

In [40]:
def rmse(predictions, targets):
    return np.sqrt(((predictions - targets) ** 2).mean())

In [51]:
train_ratings = np.array([5,4,2,4,4,3,2,2,4,5,3,5,1,4,4,4,4,3,2,5])
train_raw_avg = np.array([3.5,3.5,3.5,3.5,3.5,3.5,3.5,3.5,3.5,3.5,3.5,3.5,3.5,3.5,3.5,3.5,3.5,3.5,3.5,3.5])

In [56]:
train_rmse = rmse(train_ratings, train_raw_avg)
print("Training RMSE is " + str(train_rmse))

Training RMSE is 1.161895003862225

In [46]:
test_ratings = np.array([4,2,5,3,4])
target_raw_avg = np.array([3.5,3.5,3.5,3.5,3.5])

In [ ]:
train_rmse = rmse(train_ratings, train_raw_avg)

In [47]:
test_rmse = rmse(test_ratings, target_raw_avg)

In [59]:
print("Testing RMSE is " +str(test_rmse))

Testing RMSE is 1.02469507659596

### Using your training data, calculate the bias for each user and each movie.

In [103]:
def calculate_bias(rating_values, raw_avg):
    count =0;
    sum =0
    for value in rating_values:
        if( value != 'TST' and value != 'UN' ) :
            sum = sum + value
            count = count +1
    return ((sum/count) - raw_avg)

In [115]:
#get bias for each user (row values)
print("Bias for user Adam: "+ str(calculate_bias(list(df_train.iloc[0, :]), raw_avg_mean_train)))
print("Bias for user John: "+ str(calculate_bias(list(df_train.iloc[1, :]), raw_avg_mean_train)))
print("Bias for user David: "+ str(calculate_bias(list(df_train.iloc[2, :]), raw_avg_mean_train)))
print("Bias for user Josh: "+ str(calculate_bias(list(df_train.iloc[3, :]), raw_avg_mean_train)))
print("Bias for user Nathan: "+ str(calculate_bias(list(df_train.iloc[4, :]), raw_avg_mean_train)))
print("Bias for user Jacob: "+ str(calculate_bias(list(df_train.iloc[5, :]), raw_avg_mean_train)))

Bias for user Adam: 0.833333333333333
Bias for user John: 0.5
Bias for user David: -1.0
Bias for user Josh: -1.5
Bias for user Nathan: 0.833333333333333
Bias for user Jacob: 0.25

In [110]:
#get bias for movie (column values)
print("Bias for movie Avengers: " +str(calculate_bias(list(df_train["Avengers"]), raw_avg_mean_train)))
print("Bias for movie Alladin: " +str(calculate_bias(list(df_train["Alladin"]), raw_avg_mean_train)))
print("Bias for movie Captain Marvel: " +str(calculate_bias(list(df_train["Captain Marvel"]), raw_avg_mean_train)))
print("Bias for movie Toy Story: " +str(calculate_bias(list(df_train["Toy Story"]), raw_avg_mean_train)))
print("Bias for movie Dumbo: " +str(calculate_bias(list(df_train["Dumbo"]), raw_avg_mean_train)))

Bias for movie Avengers: 0.2999999999999998
Bias for movie Alladin: -1.1666666666666665
Bias for movie Captain Marvel: 0.75
Bias for movie Toy Story: -0.5
Bias for movie Dumbo: 0.10000000000000009

### calculate the baseline predictorsfor every user-item combination.

Let's calculate the movie rating for the test data
rating = test_avg + movie_bias + user_bias

In [116]:
print(df_train)

       Avengers Alladin Captain Marvel Toy Story Dumbo
Adam          5      UN              4        UN     4
John          4       3              5       TST     4
David       TST       2             UN        UN     3
Josh          2     TST              3         1     2
Nathan        4      UN            TST         4     5
Jacob         4       2              5         4   TST

In [130]:
#Calculate Josh's Avengers Rating
David_avenger_rating =  raw_avg_mean_train + calculate_bias(list(df_train.iloc[3, :]), raw_avg_mean_train)+ calculate_bias(list(df_train["Captain Marvel"]), raw_avg_mean_train) 
print("David's avenger rating :" +str( David_avenger_rating))

David's avenger rating :2.75