# Data 612- Project1

# #Author : Santosh Manjrekar
Date : 6/7/2019

### Briefly describe the recommender system that youâ€™re going to build out from a business perspective. I have watched the videos mentioned in the project description and will use similar movie rating data in below exercise.

I am building the movie recommender system which will recommend movies to users.

### DataSet

I am going to take 6 users (adam,John,David, Josh, Nathan, Jacob) and 5 movies - (Avengers:EndGame, Aladdin, Captain Marvel,Toy Story4, Dumbo)..User can rate movies on scale of 1 to 5. I will be loading data in python dataframe

### Load your data into (for example) an R or pandas dataframe

In [131]:
import pandas as pd
import numpy as np

In [134]:
ratings = [ (5, 'UN', 4 ,'UN',4 ) ,
            (4, 3, 5 , 3, 4 ) ,
            (4, 2, 'UN' ,'UN' ,3 ) ,
            (2, 2, 3 ,1,2 ) ,
            (4, 'UN' , 5 ,4,5 ) ,
            (4, 2 , 5 ,4,4 ) 
              
          ]

#UN = UnKnown, TST=Test Data

movie_names = ['Avengers' , 'Alladin', 'Captain Marvel' , 'Toy Story', 'Dumbo']
user_names = ['Adam', 'John', 'David' , 'Josh' , 'Nathan' , 'Jacob']
 
# Create DataFrame object from a list of tuples
df_ratings = pd.DataFrame(ratings, columns = movie_names, 
                          index=user_names)

In [136]:
print(df_ratings)

        Avengers Alladin Captain Marvel Toy Story  Dumbo
Adam           5      UN              4        UN      4
John           4       3              5         3      4
David          4       2             UN        UN      3
Josh           2       2              3         1      2
Nathan         4      UN              5         4      5
Jacob          4       2              5         4      4

In [137]:
#Lets mark the UN or unknown values with the red color
def color_red(val):
    color = 'red' if val == "UN" else 'black'
    return 'color: %s' % color
 
df_ratings.style.applymap(color_red)

### Break your ratings into separate training and test datasets.

Let's mark following few ratings as test data and then we will use remaining data as training data

David's rating for avenger :4

Josh's rating for Alladin :2

Nathan's rating for Captain Marvel : 5

Jon's Toy Story rating :3

Jacob's rating for Dumbo :4

For now I will mark this test data as "TST", Let's create new dataframe which shows test and UNKNOWN data

In [139]:
ratings_train = [ (5, 'UN', 4 ,'UN',4 ) ,
            (4, 3, 5 , 'TST', 4 ) ,
            ('TST', 2, 'UN' ,'UN' ,3 ) ,
            (2, 'TST', 3 ,1,2 ) ,
            (4, 'UN' , 'TST' ,4,5 ) ,
            (4, 2 , 5 ,4,'TST' ) 
              
          ]
 
# Create DataFrame object from a list of tuples
df_train = pd.DataFrame(ratings_train, columns = movie_names, 
                          index=user_names)

In [140]:
df_train

       Avengers Alladin Captain Marvel Toy Story Dumbo
Adam          5      UN              4        UN     4
John          4       3              5       TST     4
David       TST       2             UN        UN     3
Josh          2     TST              3         1     2
Nathan        4      UN            TST         4     5
Jacob         4       2              5         4   TST

### Calculate the  raw average mean for training data

In [61]:
#Calculate the  raw average mean for training data
raw_avg_mean_train = ((5+4+2+4+4)+(3+2+2)+(4+5+3+5)+(1+4+4)+(4+4+3+2+5))/20
print("Raw avg mean for training set is "+ str(raw_avg_mean_train))

Raw avg mean for training set is 3.5

raw average for each user=item combination is 3.5

### Calculate the RMSE for raw average for both your training data and your test data.

In [ ]:
Let's calculate RMSE for for test data (4,2,5,3,4) and training data (5,4,2,4,4,3,2,2,4,5,3,5,1,4,4,4,4,3,2,5)

In [45]:
from math import sqrt

In [40]:
def rmse(predictions, targets):
    return np.sqrt(((predictions - targets) ** 2).mean())

In [51]:
train_ratings = np.array([5,4,2,4,4,3,2,2,4,5,3,5,1,4,4,4,4,3,2,5])
train_raw_avg = np.array([3.5,3.5,3.5,3.5,3.5,3.5,3.5,3.5,3.5,3.5,3.5,3.5,3.5,3.5,3.5,3.5,3.5,3.5,3.5,3.5])

In [56]:
train_rmse = rmse(train_ratings, train_raw_avg)
print("Training RMSE is " + str(train_rmse))

Training RMSE is 1.161895003862225

In [46]:
test_ratings = np.array([4,2,5,3,4])
target_raw_avg = np.array([3.5,3.5,3.5,3.5,3.5])

In [ ]:
train_rmse = rmse(train_ratings, train_raw_avg)

In [47]:
test_rmse = rmse(test_ratings, target_raw_avg)

In [59]:
print("Testing RMSE is " +str(test_rmse))

Testing RMSE is 1.02469507659596

### Using your training data, calculate the bias for each user and each movie.

In [103]:
def calculate_bias(rating_values, raw_avg):
    count =0;
    sum =0
    for value in rating_values:
        if( value != 'TST' and value != 'UN' ) :
            sum = sum + value
            count = count +1
    return ((sum/count) - raw_avg)

In [143]:
#get bias for each user (row values)
bias_user = {}
bias_user["user:Adam"] = (calculate_bias(list(df_train.iloc[0, :]), raw_avg_mean_train))
bias_user["user:John"] = (calculate_bias(list(df_train.iloc[1, :]), raw_avg_mean_train))
bias_user["user:David"] = (calculate_bias(list(df_train.iloc[2, :]), raw_avg_mean_train))
bias_user["user:Josh"] = (calculate_bias(list(df_train.iloc[3, :]), raw_avg_mean_train))
bias_user["user:Nathan"] = (calculate_bias(list(df_train.iloc[4, :]), raw_avg_mean_train))
bias_user["user:Jacob"] = (calculate_bias(list(df_train.iloc[5, :]), raw_avg_mean_train))

#print("Bias for user Adam: "+ str(calculate_bias(list(df_train.iloc[0, :]), raw_avg_mean_train)))
#print("Bias for user John: "+ str(calculate_bias(list(df_train.iloc[1, :]), raw_avg_mean_train)))
#print("Bias for user David: "+ str(calculate_bias(list(df_train.iloc[2, :]), raw_avg_mean_train)))
#print("Bias for user Josh: "+ str(calculate_bias(list(df_train.iloc[3, :]), raw_avg_mean_train)))
#print("Bias for user Nathan: "+ str(calculate_bias(list(df_train.iloc[4, :]), raw_avg_mean_train)))
#print("Bias for user Jacob: "+ str(calculate_bias(list(df_train.iloc[5, :]), raw_avg_mean_train)))
print(bias_user)

{'user:Adam': 0.833333333333333, 'user:John': 0.5, 'user:David': -1.0, 'user:Josh': -1.5, 'user:Nathan': 0.833333333333333, 'user:Jacob': 0.25}

In [150]:
#get bias for movie (column values)
bias_movies = {}
bias_movies["movie:Avengers"] = calculate_bias(list(df_train["Avengers"]), raw_avg_mean_train)
bias_movies["movie:Alladin"] = calculate_bias(list(df_train["Alladin"]), raw_avg_mean_train)
bias_movies["movie:Captain Marvel"] = calculate_bias(list(df_train["Captain Marvel"]), raw_avg_mean_train)
bias_movies["movie:Toy Story"] = calculate_bias(list(df_train["Toy Story"]), raw_avg_mean_train)
bias_movies["movie:Dumbo"] = calculate_bias(list(df_train["Dumbo"]), raw_avg_mean_train)
print(bias_movies)


#print("Bias for movie Avengers: " +str(calculate_bias(list(df_train["Avengers"]), raw_avg_mean_train)))
#print("Bias for movie Alladin: " +str(calculate_bias(list(df_train["Alladin"]), raw_avg_mean_train)))
#print("Bias for movie Captain Marvel: " +str(calculate_bias(list(df_train["Captain Marvel"]), raw_avg_mean_train)))
#print("Bias for movie Toy Story: " +str(calculate_bias(list(df_train["Toy Story"]), raw_avg_mean_train)))
#print("Bias for movie Dumbo: " +str(calculate_bias(list(df_train["Dumbo"]), raw_avg_mean_train)))

{'movie:Avengers': 0.2999999999999998, 'movie:Alladin': -1.1666666666666665, 'movie:Captain Marvel': 0.75, 'movie:Toy Story': -0.5, 'movie:Dumbo': 0.10000000000000009}

### calculate the baseline predictors for every user-item combination.

Let's calculate the movie rating for the test data

Formula is as follows

rating = test_avg + movie_bias + user_bias

In [151]:
print(df_train)

       Avengers Alladin Captain Marvel Toy Story Dumbo
Adam          5      UN              4        UN     4
John          4       3              5       TST     4
David       TST       2             UN        UN     3
Josh          2     TST              3         1     2
Nathan        4      UN            TST         4     5
Jacob         4       2              5         4   TST

In [160]:
#Calculate Adam's movie rating
adam_rating = {}
adam_rating["Avengers"] = raw_avg_mean_train + bias_movies["movie:Avengers"] + bias_user["user:Adam"]
adam_rating["Alladin"] = raw_avg_mean_train + bias_movies["movie:Alladin"] + bias_user["user:Adam"]
adam_rating["Captain Marvel"] = raw_avg_mean_train + bias_movies["movie:Captain Marvel"] + bias_user["user:Adam"]
adam_rating["Toy Story"] = raw_avg_mean_train + bias_movies["movie:Toy Story"] + bias_user["user:Adam"]
adam_rating["Dumbo"] = raw_avg_mean_train + bias_movies["movie:Dumbo"] + bias_user["user:Adam"]
print(adam_rating)

john_rating = {}
john_rating["Avengers"] = raw_avg_mean_train + bias_movies["movie:Avengers"] + bias_user["user:John"]
john_rating["Alladin"] = raw_avg_mean_train + bias_movies["movie:Alladin"] + bias_user["user:John"]
john_rating["Captain Marvel"] = raw_avg_mean_train + bias_movies["movie:Captain Marvel"] + bias_user["user:John"]
john_rating["Toy Story"] = raw_avg_mean_train + bias_movies["movie:Toy Story"] + bias_user["user:John"]
john_rating["Dumbo"] = raw_avg_mean_train + bias_movies["movie:Dumbo"] + bias_user["user:John"]
print(john_rating)

david_rating = {}
david_rating["Avengers"] = raw_avg_mean_train + bias_movies["movie:Avengers"] + bias_user["user:David"]
david_rating["Alladin"] = raw_avg_mean_train + bias_movies["movie:Alladin"] + bias_user["user:David"]
david_rating["Captain Marvel"] = raw_avg_mean_train + bias_movies["movie:Captain Marvel"] + bias_user["user:David"]
david_rating["Toy Story"] = raw_avg_mean_train + bias_movies["movie:Toy Story"] + bias_user["user:David"]
david_rating["Dumbo"] = raw_avg_mean_train + bias_movies["movie:Dumbo"] + bias_user["user:David"]
print(david_rating)

josh_rating = {}
josh_rating["Avengers"] = raw_avg_mean_train + bias_movies["movie:Avengers"] + bias_user["user:Josh"]
josh_rating["Alladin"] = raw_avg_mean_train + bias_movies["movie:Alladin"] + bias_user["user:Josh"]
josh_rating["Captain Marvel"] = raw_avg_mean_train + bias_movies["movie:Captain Marvel"] + bias_user["user:Josh"]
josh_rating["Toy Story"] = raw_avg_mean_train + bias_movies["movie:Toy Story"] + bias_user["user:Josh"]
josh_rating["Dumbo"] = raw_avg_mean_train + bias_movies["movie:Dumbo"] + bias_user["user:Josh"]
print(josh_rating)

nathan_rating = {}
nathan_rating["Avengers"] = raw_avg_mean_train + bias_movies["movie:Avengers"] + bias_user["user:Nathan"]
nathan_rating["Alladin"] = raw_avg_mean_train + bias_movies["movie:Alladin"] + bias_user["user:Nathan"]
nathan_rating["Captain Marvel"] = raw_avg_mean_train + bias_movies["movie:Captain Marvel"] + bias_user["user:Nathan"]
nathan_rating["Toy Story"] = raw_avg_mean_train + bias_movies["movie:Toy Story"] + bias_user["user:Nathan"]
nathan_rating["Dumbo"] = raw_avg_mean_train + bias_movies["movie:Dumbo"] + bias_user["user:Nathan"]
print(nathan_rating)

jacob_rating = {}
jacob_rating["Avengers"] = raw_avg_mean_train + bias_movies["movie:Avengers"] + bias_user["user:Jacob"]
jacob_rating["Alladin"] = raw_avg_mean_train + bias_movies["movie:Alladin"] + bias_user["user:Jacob"]
jacob_rating["Captain Marvel"] = raw_avg_mean_train + bias_movies["movie:Captain Marvel"] + bias_user["user:Jacob"]
jacob_rating["Toy Story"] = raw_avg_mean_train + bias_movies["movie:Toy Story"] + bias_user["user:Jacob"]
jacob_rating["Dumbo"] = raw_avg_mean_train + bias_movies["movie:Dumbo"] + bias_user["user:Jacob"]
print(jacob_rating)

{'Avengers': 4.633333333333333, 'Alladin': 3.1666666666666665, 'Captain Marvel': 5.083333333333333, 'Toy Story': 3.833333333333333, 'Dumbo': 4.433333333333334}
{'Avengers': 4.3, 'Alladin': 2.8333333333333335, 'Captain Marvel': 4.75, 'Toy Story': 3.5, 'Dumbo': 4.1}
{'Avengers': 2.8, 'Alladin': 1.3333333333333335, 'Captain Marvel': 3.25, 'Toy Story': 2.0, 'Dumbo': 2.6}
{'Avengers': 2.3, 'Alladin': 0.8333333333333335, 'Captain Marvel': 2.75, 'Toy Story': 1.5, 'Dumbo': 2.1}
{'Avengers': 4.633333333333333, 'Alladin': 3.1666666666666665, 'Captain Marvel': 5.083333333333333, 'Toy Story': 3.833333333333333, 'Dumbo': 4.433333333333334}
{'Avengers': 4.05, 'Alladin': 2.5833333333333335, 'Captain Marvel': 4.5, 'Toy Story': 3.25, 'Dumbo': 3.85}